.block_sea_lake{
    margin-top: 30px;
}
.result img,.img_dop{
    padding: 5px;
    border: 1px solid #ccc;
    margin-top: 20px;
    max-width: 400px;
    margin-bottom: 20px;
}
.del_img{
	font-size: 25px;
	color: #d9534f;
}
.del_img:hover{
	font-size: 25px;
	color: red;
	cursor: pointer;
}
#addfotoid2,#addfotoid1{
	width: 200px;
}
#addfotoid2{
	margin-top: 30px;
	margin-bottom:20px;
}

.line_foto{
	margin-top: 20px;
	border-top: 1px solid #ddd;
	width: 500px;
}
.img_dop{
	padding: 5px;
    border: 1px solid #ccc;
    max-width: 250px;
}
